.oculos-conteiner{
    padding: 50px 80px;

}

h1{
    background-color: #f4abcf;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 50px;

}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-items: center;
    
}
.nov{
    width: 100%;
    height: 17rem;
    border-radius: 5%;
}
.card{
    position: relative;
    padding: 20px;
    width: 100%;

}
.card span{
    position:absolute;
    right: 0;
    top: 0;
    text-align: center;

}
.card-body{
    text-align: center;
}
.new{
    background-color:  #f2aca4;
    width: 15%;
    

    
}
.content{
    
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: space-around;

    
}
.texto{
    color: black;
    text-align: right;
}
h2{
    text-align: left;
    margin-top: 10px;
    color: black;
}
.botao{
    background-color: #f4abcf;
    padding: 6px 12px;
   text-decoration: none;
   color: #000000;
   border-radius: 8px;
}

/* footer */

footer {
    width: 100%;
    background-color: #f4abe2;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 50px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-item h3 {
    font-size: 16px;
}

.footer-item ul {
    list-style: none;
}

.footer-item:first-child ul{
    margin-right: 14px;
}

.footer-item:last-child ul{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
}