.card1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    background-color: #ffffff;
    gap: 20px;
    margin-bottom: 50px;
}

.card {
    position: relative;
    padding: 20px;
    width: 100%;

}



.card span {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #F2ACA4;
    width: 40px;

}

.card-body{
  text-align: center;
 
 
}

.button{
    background-color: #F2ACA4;
}
.button2{
    background-color: #F4ABE2 ;
    width: 200PX;
    height: 40PX;
   
}
.carrinho{
    width: 25px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.titulo{
   margin-bottom: 800px;
    height: 100px;
   
   

}

h1{

    font-size: 50px;
    text-align: center;
    padding: 20px;
    color: rgb(247, 218, 237);
  text-shadow:  #F2ACA4;
  font-size: 300%;
  background-color:#F4ABE2;
 
}
.b-s{
    width: 100%;
    font-size: 45px;
    text-align: center;
    color: rgb(10, 12, 10);
    background-color:#F4ABE2;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    margin-top: 100px;
}
.container{
    margin-top: 50px;
    background-color: #ffffff;

}
.desc{
    padding-top: 300px;
    padding-right:70px;
 
}

.new {
    align-items: center;
    margin-left: 25px;
}

.card1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.card-title {
    text-transform: capitalize;
}